.footer {
	background-color: $color-header-portfolio-footer;
	margin: 0 auto;
	border: none;
}

.footer_wrapper {
	display: flex;
	justify-content: space-between;
	align-items: center;
	@include respond-to(miniDevice) {
		justify-content: center;
}
}
.copyright {
	margin-right: 15px;
	@include respond-to(miniDevice) {
		display: none;
	}
}

.social {
	padding-top: 22px;
	padding-bottom: 22px;
}

.copyright__icon {
	transition: 0.3s;
}

.copyright__icon:hover {
	cursor: pointer;
	color: $color-header-star-hover-slide;
	transition: 0.3s;
}
