.icon {
	min-width: 60px;
	height: 60px;
	box-sizing: border-box;
	border: 2px solid $color-heading;
	border-radius: 50%;
	display: inline-block;
	margin-right: 20px;
}

.card__content {
	width: 220px;
  	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	overflow: hidden;
}
.icon__design {
	background: url(/img/icon/services-item-1--nocircle.png);
	background-repeat: no-repeat;
	background-position: center;
}

.icon__ideas {
	background: url(/img/icon/services-item-2--nocircle.png);
	background-repeat: no-repeat;
	background-position: center;
}

.icon__love {
	background: url(/img/icon/services-item-3--nocircle.png);
	background-repeat: no-repeat;
	background-position: center;
}
.icon__layout {
	background: url(/img/icon/services-item-4--nocircle.png);
	background-repeat: no-repeat;
	background-position: center;
}
.icon__support {
	background: url(/img/icon/services-item-5--nocircle.png);
	background-repeat: no-repeat;
	background-position: center;
}
.icon__star {
	background: url(/img/icon/services-item-6--nocircle.png);
	background-repeat: no-repeat;
	background-position: center;
}
