#toggle {
	display: none;
}

@include respond-to(transitionDevice) {
	.burger__menu {
		width: 25px;
		height: 25px;
		z-index: 3;
	}

	.menu__btn {
		width: 25px;
		height: 25px;
		background: $color-header-portfolio-footer;
		display: flex;
		align-items: center;
		position: absolute;
		cursor: pointer;
		z-index: 3;
	}

	.menu__btn > span,
	.menu__btn > span::before,
	.menu__btn > span::after {
		display: block;
		width: 25px;
		height: 2.4px;
		background-color: $color-services-borderbottom-logo;
		position: absolute;
		transition: 0.3s;
	}

	.menu__btn > span::before {
		content: "";
		transform: translateY(12px);
	}

	.menu__btn > span::after {
		content: "";
		transform: translateY(-12px);
	}

	.burger__box {
		position: fixed;
		opacity: 0;
		top: -20px;
		left: -100%;
		width: 218px;
		height: 100%;
		list-style: none;
		text-align: center;
		background: #2d303a;
		box-shadow: 0px -40px 20px rgba(0, 0, 0, 0.1);
		transition: opacity 0.5s, left 0.5s;
		z-index: 2;
	}

	.header__navigation {
		padding: 0;
	}

	.burger__items {
		display: block;
		padding: 12px 24px;
		text-decoration: none;
		position: static;
		width: 205px;
		height: 31px;
		left: 0px;
		top: 0px;
		font-family: Lato;
		font-style: normal;
		font-weight: bold;
		font-size: 24px;
		line-height: 29px;
		letter-spacing: -0.035em;
	}

	.menu li + li::before {
		content: none;
	}

	.menu {
		padding: 180px 0 0 71px;
	}
	.menu li {
		text-align: start;
	}

	#toggle:checked ~ .menu__btn > span {
		transform: rotate(90deg);
		transition: 0.3s;
	}

	#toggle:checked ~ .menu__btn > span::before + span::after {
		transform: rotate(90deg);
	}

	#toggle:checked ~ .menu__btn {
		position: fixed;
	}
	#toggle:checked ~ .header__navigation > .burger__box {
		display: block;
		opacity: 1;
		left: -20px;
	}

	.overlay {
		display: none;
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background: rgba(0, 0, 0, 0.6);
		z-index: 1;
	}

	#toggle:checked ~ .overlay {
		display: block;
	}

	/* как убрать h1 и звездочку, кгда открываем бургер */
}
