.wrapper {
	max-width: $max-content;
	box-sizing: border-box;
	padding-left: 40px;
	padding-right: 40px;
	margin: 0 auto;
}

.layout-3-column {
	margin-top: 40px;
	margin-bottom: 46px;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}
.card {
	display: flex;
	justify-content: space-between;
	width: calc(#{$content-widht} / 3);
	height: 110px;
	box-sizing: border-box;
	margin-top: 20px;
	padding-right: 15px;
	@include respond-to(miniDevice) {
		height: auto;
		overflow: scroll;
	}
}

.layout-4-column {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	margin-top: 20px;
	margin-bottom: 50px;
	width: 100%;
}
