$color-header-portfolio-footer: #2d303a;
$color-header-star-hover-slide: #f06c64;
$color-header-borderbottom: #323746;
$color-slider-borderbottom: #ea676b;
$color-services: #f2f2f2;
$color-services-borderbottom-logo: #ffffff;
$color-portfolio-borderbottom: #2d303a;
$color-heading: #666d89;
$color-text: #767e9e;
$color-tegsborder: #dedede;
$color-clider2: #648BF0;

$max-content: 1020px;
$midle-content: 768px;
$min-contant: 375px;

$content-widht: 936px;
$tablet-content-widht: 695px;
$mobile-contant-widht: 315px;


